---
import Toolbar from '~/components/sections/talent-pool/components/toolbar.svelte';
import Grid from '~/components/sections/talent-pool/components/grid.svelte';
import { TALENT_DATA } from "~/data/talents.ts";
---

<section class="w-full max-w-9xl mx-auto px-30 py-12">
  <Toolbar client:load />

  <Grid
    talents={TALENT_DATA.talents}
    buttonText={TALENT_DATA.buttonText}
    client:load
  />

</section>
