---
import Layout from "~/layouts/default.astro";
---

<Layout>
	<div class="h-screen w-full flex items-center justify-center">
		<h1 class="text-4xl text-slate-800">Work In Progress</h1>
	</div>
</Layout>
