---
import { Icon } from "astro-icon/components";
import InlineIcon from "~/components/text/inline-icon.astro";
import HeroCard from "~/components/sections/hero/components/hero-card.astro";
---

<div
  class="w-full bg-linear-to-b from-wri-white from-65% to-wri-lightblue to-100% flex flex-col items-center justify-center overflow-hidden text-center rounded-3xl px-4 md:px-30"
>
  <div
    class="flex flex-col justify-center items-center mt-20 md:mt-60 font-medium tracking-tight"
  >
    <div class="relative flex justify-center items-end text-4xl md:text-7xl">
      Explore
      <InlineIcon
        name="ph:book-open-text-fill"
        color="wri-blue"
        rotate={-2}
      />
      <span class="wri-italic from-wri-blue to-wri-blue/45"> Knowledge</span>
    </div>
    <div class="relative flex justify-center items-end text-4xl md:text-7xl">
      Unlock<span class="wri-italic from-wri-yellow to-wri-yellow/45"
        >&nbsp;Potential</span
      >
      <InlineIcon name="ph:sparkle-fill" color="wri-yellow" rotate={2} />
      Shine
    </div>
    <div class="text-base md:text-xl w-full md:w-4/7 mt-5 text-wri-gray-600 font-normal">
      Learn, share, and connect with fellow tech enthusiasts. Get the latest
      tech insights and unlock exciting collaboration opportunities all in one
      place
    </div>
<a href="/talents">
      <div
        class="flex justify-center items-center bg-wri-lighterblue mt-10 text-wri-white p-1.5 rounded-2xl"
      >
        <div
          class="flex justify-center items-center bg-linear-to-b from-wri-blue to-wri-blue/56 px-3 py-2 md:px-5 md:py-3 rounded-xl border border-wri-darkerblue text-base md:text-lg"
        >
          <Icon
            name="ph:magnifying-glass-bold"
            class="w-6 h-6 text-wri-white mr-2"
          /> Search Talent
        </div>
      </div>
    </a>
  </div>
  <div class="w-full">
    <HeroCard />
  </div>
</div>
