---
const { className } = Astro.props;
---

<footer class={`flex flex-col w-full px-28 py-16 gap-10 ${className}`}>
    <div class="flex">
        <div class="max-w-[20rem]">
            <img src="/assets/wri-logo.webp" alt="WRI Dev Logo" class="h-14" />
            <p class="mt-4 text-wri-gray-600">
                A creative community where learning together sparks fresh ideas,
                innovation, and growth in science and technology
            </p>
        </div>
        <div class="ml-auto flex gap-10">
            <div>
                <p class="text-xl text-semibold">Miniclass</p>
                <div class="mt-4 flex flex-col gap-2 text-wri-gray-600">
                    <p><a href="#">Frontend Development</a></p>
                    <p><a href="#">Backend Development</a></p>
                    <p><a href="#">UI/UX Design</a></p>
                    <p><a href="#">Game Development</a></p>
                </div>
            </div>
            <div>
                <p class="text-xl text-semibold">Contact Us</p>
                <div class="mt-4 flex flex-col gap-2 text-wri-gray-600">
                    <p><a href="https://www.instagram.com/wri_polinema">Instagram</a></p>
                    <p><a href="https://github.com/wrideveloper">Github</a></p>
                    <p><a href="https://id.linkedin.com/company/wripolinema">LinkedIn</a></p>
                    <p><a href="https://medium.com/wripolinema">Medium</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex text-wri-gray-600">
        <div>©2025 All Rights Reserved — Workshop Riset Informatika</div>
        <div class="ml-auto">Built with Astro and Svelte</div>
    </div>
</footer>
