---
import { Icon } from "astro-icon/components";

const { name, color, rotate } = Astro.props;

const colorClasses = {
    "wri-blue": "bg-wri-blue/12 text-wri-blue",
    "wri-yellow": "bg-wri-yellow/12 text-wri-yellow",
};

const activeColor = colorClasses[color] || "bg-wri-yellow text-wri-yellow";
---

<div
    class="size-20 flex bg-wri-white justify-center items-center rounded-3xl shadow-md shadow-neutral-500/15 mx-3"
    style={{ transform: `rotate(${rotate}deg)` }}
>
    <div
        class={`size-17 flex justify-center items-center rounded-2xl ${activeColor}`}
    >
        <Icon name={name} class="w-8 h-8" />
    </div>
</div>
