---
import { getCollection } from "astro:content";
import ArticleCard from "~/components/section/articles/components/article-card.astro";
import Container from "~/components/section/container.astro";
import Title from "~/components/section/title.astro";
import { ARTICLES_DATA } from "~/data/articles";
import Layout from "~/layouts/default.astro";

const articles = await getCollection("articles");
const sortedArticlesMeta = articles.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="Home">
	<div class="py-24">
		<Container>
			<Title title={ARTICLES_DATA.title} subtitle={ARTICLES_DATA.subtitle} miniTitle={ARTICLES_DATA.miniTitle} />
			<div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
				{sortedArticlesMeta.map((article) => <ArticleCard {...article.data} slug={article.slug} />)}
			</div>
		</Container>
	</div>
</Layout>
