---
import Container from "~/components/sections/container.svelte";
import PillsText from "~/components/text/pills.astro";
import Grid from "~/components/sections/testimonial/components/grid.svelte";

const { className } = Astro.props;

import { testimonials } from "~/data/testimonials";
---

<div class="flex flex-col gap-14">
    <Container className={`flex flex-col gap-4 ${className}`}>
        <PillsText>WHAT PEOPLE SAY</PillsText>
        <div>
            <div
                class="relative flex justify-center items-end text-3xl md:text-6xl font-medium"
            >
                <span class="wri-italic from-wri-blue to-wri-blue/45"
                    >Expriences&nbsp;</span
                >
                That&nbsp;
                <img
                    src="/assets/testimonial/inline-pics-1.webp"
                    alt="inline-pics-1"
                    class="translate-y-0.5"
                />
                &nbsp;Spark
            </div>
            <div
                class="relative flex justify-center items-end text-3xl md:text-6xl font-medium"
            >
                <span class="wri-italic from-wri-yellow to-wri-yellow/45"
                    >Ideas&nbsp;</span
                >
                <img
                    src="/assets/testimonial/inline-pics-2.webp"
                    alt="inline-pics-2"
                    class="translate-y-0.5"
                />
                &nbsp;and
                <span class="wri-italic from-wri-yellow to-wri-yellow/45"
                    >&nbsp;Possibilities</span
                >
            </div>
        </div>
        <div class="flex flex-col items-center text-wri-gray-600">
            <p>
                At WRI, we believe in the power of shared experiences to ignite
                innovation and unlock
            </p>
            <p>
                new horizons. Hear from our members as they share their journeys
                of growth, discovery,
            </p>
            <p>and collaboration.</p>
        </div>
    </Container>
    <Grid testimonials={testimonials} />
</div>
