@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import "tailwindcss";

@theme {
    --color-wri-white: #fafafa;
    --color-wri-lighterblue: #cfdff5;
    --color-wri-lightblue: #c8dff9;
    --color-wri-blue: #0b79ff;
    --color-wri-darkerblue: #3c74bf;
    --color-wri-yellow: #ffb12b;
    --color-wri-grey-600: #535862;
}

::-webkit-scrollbar {
    display: none;
}

.wri-italic {
    @apply bg-linear-to-b bg-clip-text text-transparent;
    font-family: "Instrument Serif", serif;
    font-style: italic;
}

body {
    font-family: "SF Pro Display", sans-serif;
    background-color: var(--color-wri-white);
}

@layer utilities {
  @keyframes walk-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes walk-right {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0);
    }
  }

  .animate-walk-left {
    animation: walk-left 20s linear infinite;
  }

  .animate-walk-right {
    animation: walk-right 20s linear infinite;
  }
}
