---
import Layout from "~/layouts/Layout.astro";

import TalentPool from "~/components/sections/talent-pool/talent-pool.astro";
---

<Layout>
    <main class="pt-32 w-full">
        <TalentPool />
    </main>
</Layout>
