---
export const prerender = false;
import Layout from "~/layouts/Layout.astro";
import ProfileSection from "~/components/sections/profile-page/profile-section.astro";
const { talent_data } = Astro.props;
---

<Layout>
    <style is:global>
        nav {
            display: none !important;
        }
    </style>
    <main class="pt-8 w-full min-h-screen">
        <ProfileSection talent_data={talent_data} />
    </main>
</Layout>
