---
import WalkingLogo from './components/walking-logo.svelte';

const { className } = Astro.props;

const logos = [
  '/assets/technology/blender.webp',
  '/assets/technology/figma.webp',
  '/assets/technology/laravel.webp',
  '/assets/technology/svelte.webp',
  '/assets/technology/flutter.webp',
  '/assets/technology/aseprite.webp',
  '/assets/technology/nodejs.webp',
  '/assets/technology/unity.webp',
];
---
<div class={`flex flex-col gap-10 ${className}`}>
    <WalkingLogo logos={logos} />
    <div class="flex flex-col items-center text-wri-grey-600">
        <p>We use insdustry-standard tools to explore the latest tech</p>
        <p>and design innovations together as a community.</p>
    </div>
</div>
