---
export type Props = {
	icon: string;
	title: string;
	description: string;
	href: string;
};
const { icon, title, description, href } = Astro.props as Props;
---

<div
	class="group relative bg-white transition hover:z-[1] hover:shadow-lg hover:shadow-gray-600/10 border border-slate-200 rounded-xl"
>
	<div class="relative space-y-8 py-12 p-8">
		<img src={icon} class="w-12" width="512" height="512" alt="burger illustration" />

		<div class="space-y-2">
			<h5 class="text-xl font-semibold text-gray-700 transition group-hover:text-secondary">
				{title}
			</h5>
			<p class="text-gray-600">
				{description}
			</p>
		</div>
		<a href={href} class="flex items-center justify-between group-hover:text-secondary">
			<span class="text-sm">Read more</span>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 24 24"
				fill="currentColor"
				class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100"
			>
				<path
					fill-rule="evenodd"
					d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
					clip-rule="evenodd"></path>
			</svg>
		</a>
	</div>
</div>
