---
import { Icon } from "astro-icon/components";
---

<div
    class="w-full h-160 bg-[#f0f0f0]/65 mt-15 shadow-lg shadow-neutral-500/40 rounded-t-3xl rounded-tl-3xl px-2.5"
>
    <div
        class="w-full h-1/12 flex justify-between items-center px-2 my-2 text-wri-grey-600"
    >
        <div class="flex gap-4 items-center">
            <Icon name="ph:x-circle-fill" class="w-7 h-7" />
            <Icon name="ph:caret-circle-up-down-fill" class="w-7 h-7" />
            <h5 class="text-lg font-semibold">WRI 2025/2026</h5>
        </div>
        <div class="flex gap-10 items-center">
            <Icon name="ph:marker-circle" class="w-7 h-7" />
            <Icon name="ph:device-rotate" class="w-7 h-7" />
            <Icon name="ph:export" class="w-7 h-7" />
            <h5
                class="text-lg border border-wri-grey-600/50 px-2 py-1 rounded-xl"
            >
                Open with Preview
            </h5>
        </div>
    </div>
    <div class="w-full h-full bg-wri-grey-600 rounded-t-2xl rounded-tl-2xl">
    </div>
</div>
