---
import Layout from "~/layouts/default.astro";
---

<Layout title="404">
	<div class="text-center flex flex-col justify-center items-center min-h-screen">
		<h1 class="text-slate-800 text-4xl font-bold">404</h1>
		<span class="text-slate-700 text-xl">Halaman yang kamu cari gaada.</span>
	</div>
</Layout>
