---
import Container from "~/components/section/container.astro";
import Title from "~/components/section/title.astro";
import Layout from "~/layouts/default.astro";
import * as AboutContent from "~/content/pages/about.md";
---

<Layout title="About">
	<div class="py-24 px-4">
		<Container>
			<div class="h-full flex items-center justify-center">
				<Title title={AboutContent.frontmatter.title} class="mx-auto text-center mt-4 mb-0" />
			</div>
			<div
				class="prose prose-slate prose-headings:text-slate-700 prose-headings:font-heading prose-img:mx-auto prose-img:rounded-lg prose-img:shadow-lg max-w-[80ch] mx-auto"
			>
				<AboutContent.Content />
			</div>
		</Container>
	</div>
</Layout>
