---
import Container from "~/components/section/container.astro";
import Filters from "~/components/section/talent-pool/components/filters.svelte";
import Grid from "~/components/section/talent-pool/components/grid.svelte";
import Toolbar from "~/components/section/talent-pool/components/toolbar.svelte";
import Title from "~/components/section/title.astro";
import { TALENT_DATA } from "~/data/talents";
import Layout from "~/layouts/default.astro";
---

<Layout title="Home">
	<div class="py-24">
		<Container>
			<Title title={TALENT_DATA.title} subtitle={TALENT_DATA.subtitle} class="mx-auto text-center" />
			<div>
				<Toolbar client:visible />
				<div class="py-10">
					<div class="grid grid-cols-12 md:gap-12 pb-20">
						<div class="hidden lg:block col-span-12 lg:col-span-3">
							<Filters client:visible />
						</div>
						<div class="col-span-12 lg:col-span-9">
							<Grid client:visible talents={TALENT_DATA.talents} />
						</div>
					</div>
				</div>
			</div>
		</Container>
	</div>
</Layout>
