---


import Layout from "../../layouts/Layout.astro"

import TalentPool from "../../components/sections/talent-pool/talent-pool.astro";
import FooterSection from "../../components/sections/footer/footer-section.astro";

---

<Layout>
  
  <main class="pt-32 w-full">
    

    <TalentPool />
    
  </main>

        <FooterSection />
</Layout>
