---
import { Icon } from "astro-icon/components";

const navItems = [
    { name: "Home", href: "/" },
    { name: "Talents", href: "/talents" },
    { name: "About Us", href: "/about-us" },
    { name: "Articles", href: "/articles" },
];

const currentPath = Astro.url.pathname;

const isLinkActive = (href: string) => {
    if (href === "/" && currentPath === "/") return true;
    if (href !== "/" && currentPath.startsWith(href)) return true;
    return false;
};
---

<nav
    class="fixed w-full bg-wri-white/65 backdrop-blur-xl py-10 px-30 flex justify-between items-center z-99"
>
    <a href="/" class="flex items-center gap-2">
        <img
            src="/assets/wri-logo.webp"
            alt="Workshop Riset Informatika Logo"
            class="h-10"
        />
    </a>

    <ul class="flex">
        {
            navItems.map((item) => {
                const isActive = isLinkActive(item.href);
                return (
                    <li>
                        <a
                            href={item.href}
                            class={`font-medium transition-colors duration-200 px-6 ${
                                isActive
                                    ? "text-black border-b-3 border-wri-blue pb-4"
                                    : "text-gray-500 border-b-2 border-wri-blue/50 pb-4.25 hover:text-black hover:border-b-3 hover:border-wri-blue hover:pb-4"
                            }`}
                        >
                            {item.name}
                        </a>
                    </li>
                );
            })
        }
    </ul>

    <div class="flex items-center gap-2 cursor-pointer">
        <img
            src="/assets/navs/us-icon.webp"
            alt="English (USA)"
            class="h-7 w-7 rounded-full"
        />
        <Icon name="ph:caret-down" class="h-5 w-5 text-gray-500" />
    </div>
</nav>
