---
import { Icon } from "astro-icon/components";

import { navItems } from "~/data/navigation";
import { t, language } from "~/i18n";
import { getLocalizedPath } from "~/utils/i18n";
import LanguageSwitcher from "~/components/sections/globals/components/language-switcher.svelte";

const tr = t(Astro.currentLocale as keyof typeof language);
const currentLocale = Astro.currentLocale || "en";

const translatedNavItems = [
    { name: tr.nav.home, href: "/" },
    { name: tr.nav.talents, href: "/talents" },
    { name: tr.nav.about, href: "/about-us" },
    { name: tr.nav.articles, href: "/articles" },
];

const currentPath = Astro.url.pathname;

const isLinkActive = (href: string) => {
    if (href === "/" && currentPath === "/") return true;
    if (href !== "/" && currentPath.startsWith(href)) return true;
    return false;
};
---

<nav
    class="fixed w-full bg-wri-white/65 backdrop-blur-xl py-4 px-4 md:py-10 md:px-30 flex justify-between items-center z-99"
>
    <a href={getLocalizedPath("/", currentLocale)} class="flex items-center gap-2">
        <img
            src="/assets/wri-logo.webp"
            alt="Workshop Riset Informatika Logo"
            class="h-8 md:h-10"
        />
    </a>

    <ul class="flex gap-2 md:gap-0">
        {
            translatedNavItems.map((item) => {
                const localizedHref = getLocalizedPath(item.href, currentLocale);
                const isActive = isLinkActive(localizedHref);
                return (
                    <li>
                        <a
                            href={localizedHref}
                            class={`font-medium transition-colors duration-200 px-2 text-xs md:px-6 md:text-base ${
                                isActive
                                    ? "text-black border-b-3 border-wri-blue pb-4"
                                    : "text-gray-500 border-b-2 border-wri-blue/50 pb-4.25 hover:text-black hover:border-b-3 hover:border-wri-blue hover:pb-4"
                            }`}
                        >
                            {item.name}
                        </a>
                    </li>
                );
            })
        }
    </ul>

    <!-- <div class="hidden md:flex items-center gap-2 cursor-pointer">
        <img
            src="/assets/navs/en-icon.webp"
            alt="English"
            class="h-7 w-7 rounded-full"
        />
        <Icon name="ph:caret-down" class="h-5 w-5 text-gray-500" />
    </div> -->
    <LanguageSwitcher client:load currentLocale={currentLocale} currentPath={currentPath} />
</nav>
