---
import { Icon } from "astro-icon/components";

interface Props {
    icon: string;
    color?: "yellow" | "blue";
    rotate?: "left" | "right";
}

const { icon, color = "yellow", rotate = "right" } = Astro.props;

const colorStyles = {
    yellow: {
        bg: "bg-wri-yellow/12",
        text: "text-wri-yellow",
    },
    blue: {
        bg: "bg-wri-blue/12",
        text: "text-wri-blue",
    },
};

const rotateStyles = {
    right: "rotate-2",
    left: "-rotate-2",
};

const theme = colorStyles[color as keyof typeof colorStyles];
const rotationClass = rotateStyles[rotate as keyof typeof rotateStyles];
---

<div
    class={`size-22 flex justify-center items-center rounded-3xl bg-wri-white ${rotationClass} mx-3 shadow-md shadow-neutral-500/25`}
>
    <div
        class={`size-17 flex justify-center items-center rounded-2xl ${theme.bg}`}
    >
        <Icon name={icon} class={`w-12 h-12 ${theme.text}`} />
    </div>
</div>
