---
import Button from "~/components/button/button.astro";
import ThemeToggler from "~/components/button/theme-toggle.astro";
import Hamburger from "~/components/button/hamburger.astro";

type NavigationItem = {
	href: string;
	text: string;
};

const navigationItems: NavigationItem[] = [
	{href: "/miniclass", text: "Miniclass"},
	{href: "/articles", text: "Articles"},
	{href: "/projects", text: "Projects"},
	{href: "/talents", text: "Talents"},
];
---

<div
	x-data="navbar()"
	x-on:scroll.window="scroll()"
	class="fixed top-0 left-0 w-full z-50 transition-all duration-300"
	:class="scrolled || $store.app.mobileOpen ? 'bg-white dark:bg-muted-900 shadow-lg shadow-muted-300/30 dark:shadow-muted-900/40' : ''"
>
	<div class="w-full max-w-7xl mx-auto flex items-center justify-between pl-4 pr-0 lg:pr-4 font-sans">
		<!-- Left -->
		<div class="w-full lg:w-auto flex items-center gap-6">
			<a href="/" class="flex items-center gap-3">
				<img src="https://elianiva.my.id/wri/light.png" class="w-auto h-12"/>
			</a>
			<div class="flex items-center justify-center h-20 w-20 lg:hidden ml-auto">
				<Hamburger/>
			</div>
		</div>
		<div
			class="flex-col items-center lg:justify-end gap-x-6"
			:class="$store.app.mobileOpen ? 'absolute top-[80px] left-0 w-full flex text-center px-6 pt-2 pb-6 border-t border-muted-200 dark:border-muted-800 bg-white dark:bg-muted-900 shadow-lg shadow-muted-300/40 dark:shadow-muted-900/50' : 'hidden lg:flex lg:flex-row'"
		>
			<div class="flex flex-col lg:flex-row items-center gap-x-6">
				{navigationItems.map((item, index) => (
					// TODO(elianiva): fix scrollspy

					<div
						class="relative py-3 lg:py-5 after:content-[''] after:absolute after:-bottom-1.5 after:left-0 after:h-[3px] after:rounded-t-full after:transition-all after:duration-300 transition-colors duration-300"
						:class="activeStep === `spy-0` ? 'text-primary-500 after:bg-primary-500 after:w-full' : 'text-slate-500 dark:text-slate-400 hover:text-muted-700 dark:hover:text-muted-100 after:w-0'"
					>
						<a href={item.href}>{item.text}</a>
					</div>
				))}
				<div
					class="relative py-3 lg:py-5 after:content-[''] after:absolute after:-bottom-1.5 after:left-0 after:h-[3px] after:rounded-t-full after:transition-all after:duration-300 transition-colors duration-300"
					:class="activeStep === 'spy-1' ? 'text-primary-500 after:bg-primary-500 after:w-full' : 'text-slate-500 dark:text-slate-400 hover:text-muted-700 dark:hover:text-muted-100 after:w-0'"
				>
					<a href="#doctors">Miniclass</a>
				</div>
				<div
					class="relative py-3 lg:py-5 after:content-[''] after:absolute after:-bottom-1.5 after:left-0 after:h-[3px] after:rounded-t-full after:transition-all after:duration-300 transition-colors duration-300"
					:class="activeStep === 'spy-2' ? 'text-primary-500 after:bg-primary-500 after:w-full' : 'text-slate-500 dark:text-slate-400 hover:text-muted-700 dark:hover:text-muted-100 after:w-0'"
				>
					<a href="#product">Articles</a>
				</div>
				<div
					class="relative py-3 lg:py-5 after:content-[''] after:absolute after:-bottom-1.5 after:left-0 after:h-[3px] after:rounded-t-full after:transition-all after:duration-300 transition-colors duration-300"
					:class="activeStep === 'spy-3' ? 'text-primary-500 after:bg-primary-500 after:w-full' : 'text-slate-500 dark:text-slate-400 hover:text-muted-700 dark:hover:text-muted-100 after:w-0'"
				>
					<a href="#pricing">Projects</a>
				</div>
				<div
					class="relative py-3 lg:py-5 after:content-[''] after:absolute after:-bottom-1.5 after:left-0 after:h-[3px] after:rounded-t-full after:transition-all after:duration-300 transition-colors duration-300"
					:class="activeStep === 'spy-4' ? 'text-primary-500 after:bg-primary-500 after:w-full' : 'text-slate-500 dark:text-slate-400 hover:text-muted-700 dark:hover:text-muted-100 after:w-0'"
				>
					<a href="#pricing">Talents</a>
				</div>
				<div
					class="relative py-3 lg:py-5 text-slate-500 dark:text-slate-400 hover:text-muted-700 dark:hover:text-muted-100 transition-colors duration-300"
				>
					<a href="#">Sign In</a>
				</div>
				<div class="py-3 lg:py-5">
					<ThemeToggler/>
				</div>
			</div>
			<div class="w-full md:w-auto">
				<Button variant="main" to="#" class="'w-full md:w-[240px] lg:w-[110px]'">Join</Button>
			</div>
		</div>
	</div>
</div>
