---
import { Icon } from "astro-icon/components";
---

<div
    class="h-screen w-screen bg-linear-to-b from-wri-white to-wri-lightblue flex flex-col items-center justify-center overflow-hidden text-center"
>
    <div class="flex flex-col justify-center items-center">
        <div
            class="relative flex justify-center items-end text-7xl font-medium"
        >
            Explore
            <div
                class="size-22 flex justify-center items-center rounded-3xl bg-wri-white -rotate-2 mx-3 shadow-md shadow-neutral-500/30"
            >
                <div
                    class="size-17 flex justify-center items-center bg-wri-blue/12 rounded-2xl"
                >
                    <Icon
                        name="ph:book-open-text-fill"
                        class="w-12 h-12 text-wri-blue"
                    />
                </div>
            </div>
            <span class="wri-italic from-wri-blue to-wri-blue/45"
                >Knowledge</span
            >
        </div>
        <div
            class="relative flex justify-center items-end text-7xl font-medium"
        >
            Unlock<span class="wri-italic from-wri-yellow to-wri-yellow/45"
                >&nbsp;Potential</span
            >
            <div
                class="size-22 flex justify-center items-center rounded-3xl bg-wri-white rotate-2 mx-3 shadow-md shadow-neutral-500/30"
            >
                <div
                    class="size-17 flex justify-center items-center bg-wri-yellow/12 rounded-2xl"
                >
                    <Icon
                        name="ph:sparkle-fill"
                        class="w-12 h-12 text-wri-yellow"
                    />
                </div>
            </div>Shine
        </div>
        <div class="text-xl w-4/7 mt-5 text-wri-grey-600">
            Learn, share, and connect with fellow tech enthusiasts. Get the
            latest tech insights and unlock exciting collaboration opportunities
            all in one place
        </div>
        <a href="#">
            <div
                class="flex justify-center items-center bg-wri-white/40 mt-10 text-wri-white p-1.5 rounded-2xl"
            >
                <div
                    class="flex justify-center items-center bg-linear-to-b from-wri-blue to-wri-blue/65 px-5 py-3 rounded-xl border-1 border-wri-darkerblue"
                >
                    <Icon
                        name="ph:magnifying-glass-bold"
                        class="w-8 h-8 text-wri-white mr-2"
                    /> Search Talent
                </div>
            </div>
        </a>
    </div>
</div>
