---
import { Icon } from "astro-icon/components";
---

<div
    class="h-screen w-screen bg-linear-to-b from-wri-white to-wri-lightblue flex flex-col items-center justify-center overflow-hidden text-center"
>
    <h1 class="relative text-7xl font-medium">
        Explore
        <div
            class="absolute size-25 flex justify-center items-center rounded-3xl bg-wri-white -rotate-2"
        >
            <div
                class="size-20 flex justify-center items-center bg-wri-blue/12 rounded-2xl"
            >
                <Icon
                    name="ph:book-open-text-fill"
                    class="w-12 h-12 text-wri-blue"
                />
            </div>
        </div>
        <span
            class="bg-linear-to-b from-wri-blue to-wri-blue/45 bg-clip-text text-transparent"
            >Knowledge</span
        ><br />Unlock <span
            class="bg-linear-to-b from-wri-yellow to-wri-yellow/45 bg-clip-text text-transparent"
            >Potential</span
        > Shine
    </h1>
    <h5 class="text-xl w-3/7 mt-5 text-wri-grey-600">
        Learn, share, and connect with fellow tech enthusiasts. Get the latest
        tech insights and unlock exciting collaboration opportunities all in one
        place
    </h5>
</div>
