---
import Container from "~/components/sections/container.svelte";
import ProfileDesc from "./components/profile-desc.astro";
import ProfileStat from "./components/stat/profile-stat.astro";
import ProjectPool from "./components/project-pool.astro";

const { talent_data } = Astro.props;

const hasMetrics =
    talent_data?.metrics &&
    (talent_data.metrics.github || talent_data.metrics.figma);

const hasProjects =
    talent_data?.projects &&
    Array.isArray(talent_data.projects) &&
    talent_data.projects.length > 0;
---

<Container className="py-20 bg-linear-to-b from-wri-white to-wri-blue/20">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-12 lg:gap-24 items-start">
        <div class="lg:col-span-5 xl:col-span-4">
            <ProfileDesc talent_data={talent_data} />
        </div>

        <div
            class="lg:col-span-7 xl:col-span-8 flex flex-col pt-12 lg:pt-0 gap-12"
        >
            {/* Pass the FULL talent_data object, not just .metrics */}
            {hasMetrics && <ProfileStat talent_data={talent_data} />}

            {hasProjects && <ProjectPool projects={talent_data.projects} />}
        </div>
    </div>
</Container>
