---
import { TECHNOLOGY_DATA } from "~/data/technology";
import Container from "./container.astro";
---

<style lang="postcss">
	.tech-grid > div {
		@apply justify-self-end lg:justify-self-center;
	}

	.tech-grid > div:nth-of-type(2n) {
		@apply justify-self-start lg:justify-self-center;
	}
</style>

<div class="py-12" id="technology">
	<Container>
		<div
			class="tech-grid grid lg:flex grid-cols-2 lg:grid-cols-6 grid-flow-row items-center justify-center lg:gap-x-16 gap-8"
		>
			{
				TECHNOLOGY_DATA.technologies.map((technology) => (
					<div class="grayscale opacity-70 transition duration-200 hover:grayscale-0 hover:opacity-100">
						<img
							src={technology.icon.src}
							class="h-12 w-auto mx-auto"
							loading="lazy"
							alt={technology.name}
						/>
					</div>
				))
			}
		</div>
	</Container>
</div>
