---
import { TECHNOLOGY_DATA } from "~/data/technology";
import Container from "./container.astro";
---

<div class="py-12" id="technology">
	<Container>
		<div class="flex items-center justify-between">
			{
				TECHNOLOGY_DATA.technologies.map((technology) => (
					<div class="p-4 grayscale transition duration-200 hover:grayscale-0">
						<img src={technology.icon} class="h-12 w-auto mx-auto" loading="lazy" alt={technology.name} />
					</div>
				))
			}
		</div>
	</Container>
</div>
