---
import Card from "~/components/card/talent-card.svelte";
---

<div class="grid md:grid-cols-3 ltablet:grid-cols-3 lg:grid-cols-3 gap-x-6 ptablet:gap-x-4 gap-y-16 pt-10">
	<div x-show="activeCategory === 'all' || activeCategory === 'cardiology'">
		<Card
			name="Manusia Bernapas"
			about="Hello! I'm just a placeholder standing here. I don't serve any purpose whatsoever"
			position="Full-Stack Developer"
			profileImage="-"
			contacts={[
				{ type: "linkedin", url: "https://linkedin.com/" },
				{ type: "github", url: "https://github.com/" },
				{ type: "email", url: "mailto:account@mail.com" },
			]}
		/>
	</div>
</div>
