---
import Button from "~/components/button/button.svelte";
import Container from "../container.astro";
import Title from "../title.astro";
import Toolbar from "./components/toolbar.svelte";
import Filters from "./components/filters.svelte";
import Grid from "./components/grid.svelte";
import { TALENT_DATA } from "~/data/talents";
---

<div class="py-20">
	<Container>
		<Title
			title={TALENT_DATA.title}
			subtitle={TALENT_DATA.subtitle}
			miniTitle={TALENT_DATA.miniTitle}
			class="mx-auto text-center"
		/>
		<div>
			<Toolbar client:visible />
			<div class="py-10">
				<div class="grid grid-cols-12 md:gap-12 pb-20">
					<div class="hidden lg:block col-span-12 lg:col-span-3">
						<Filters client:visible />
					</div>
					<div class="col-span-12 lg:col-span-9">
						<Grid client:visible talents={TALENT_DATA.talents} />
					</div>
				</div>
				<div class="flex items-center justify-center mt-10">
					<Button variant="main" to="#" class="w-64 !h-14 max-w-full">View All Talents</Button>
				</div>
			</div>
		</div>
	</Container>
</div>
