---
import Button from "~/components/button/button.svelte";
import Container from "../container.astro";
import Title from "../title.astro";
import Toolbar from "./toolbar.svelte";
import Filters from "./filters.svelte";
import Grid from "./grid.astro";
---

<div class="py-20">
	<Container>
		<Title
			title="Talent Pool"
			subtitle="These are the people from Workshop Riset Informatika who are ready to work professionally"
			miniTitle="Talents from Workshop Riset Informatika"
			class="mx-auto text-center"
		/>
		<div>
			<Toolbar client:visible />
			<div class="py-10">
				<div class="grid grid-cols-12 md:gap-12 pb-20">
					<div class="hidden lg:block col-span-12 lg:col-span-3">
						<Filters />
					</div>
					<div class="col-span-12 lg:col-span-9">
						<Grid />
					</div>
				</div>
				<div class="flex items-center justify-center mt-10">
					<Button variant="main" to="#" class="'w-64 !h-14 max-w-full'">View All Talents</Button>
				</div>
			</div>
		</div>
	</Container>
</div>
