---
import Container from "../container.astro";
import PillsText from "../../text/pills.astro";
import InlineIcon from "../../text/inline-icon.astro";
import StatsPool from "./components/stats-pool.svelte";

const { className } = Astro.props;

const stats = [
    {
        title: "Years Of Actvities",
        value: "10yrs+",
        desc: "A decade of creating, learngin, and pushing boundaries from design sparks to digital innovations.",
    },
    {
        title: "Active Members",
        value: "100+",
        desc: "100+ curious minds exploring everything from mobiel apps to game worlds united by creativity and tech passiion.",
    },
    {
        title: "Miniclass",
        value: "4",
        desc: "Four epic miniclasses: Frontend, Backend, UI/UX, and Game Development. Choose your path, learn your craft and level up together!",
    },
];
---

<Container className={className}>
    <PillsText>FEATURES</PillsText>
    <div class="flex flex-col gap-16">
        <div>
            <div
                class="relative flex justify-center items-end text-6xl font-medium"
            >
                From
                <span class="wri-italic from-wri-blue to-wri-blue/45"
                    >&nbsp;Learners</span
                >
                <InlineIcon
                    name="ph:student-fill"
                    color="wri-blue"
                    rotate={3}
                    className="translate-y-3"
                />
                to
            </div>
            <div
                class="relative flex justify-center items-end text-6xl font-medium"
            >
                <span class="wri-italic from-wri-yellow to-wri-yellow/45"
                    >Leaders</span
                >
                <InlineIcon
                    name="ph:crown-simple-fill"
                    color="wri-yellow"
                    rotate={-2}
                    className="translate-y-2"
                />
                Together
            </div>
        </div>
        <StatsPool stats={stats} />
    </div>
</Container>
