---
import GithubStat from './github-stat.astro';

interface Props {
  talent_data: any;
}

const { talent_data } = Astro.props; 

const hasGithub = talent_data?.contacts?.some(c => c.type === 'github');
---

<div class="flex flex-col gap-6 w-full mb-12">
  
  {hasGithub && <GithubStat talent_data={talent_data} />}                                                                                                                                                               
  
  <div class="bg-white p-6 rounded-3xl border border-wri-gray-200 min-h-50 flex items-center justify-center text-wri-gray-400 border-dashed">   
      Other Stat Coming Soon
  </div>

</div>
