---
import Unfont from "unplugin-fonts/astro/component.astro";
import Navbar from "~/components/navbar/navbar.svelte";
import Footer from "~/components/footer/footer.astro";
import "swiper/swiper-bundle.css";
import "../styles/main.css";

type Props = {
	title: string;
};
const { title } = Astro.props as Props;

const footerData = [
	{
		title: "Miniclass",
		items: [
			{ href: "/", text: "Mobile Development" },
			{ href: "/", text: "Web Development" },
			{ href: "/", text: "Game Development" },
			{ href: "/", text: "UI/UX Design" },
		],
	},
	{
		title: "Activities",
		items: [
			{ href: "/", text: "Open Talk" },
			{ href: "/", text: "WRI OOT" },
			{ href: "/", text: "Workshop" },
		],
	},
	{
		title: "Contact Us",
		items: [
			{ href: "/", text: "Instagram" },
			{ href: "/", text: "Facebook" },
			{ href: "/", text: "Github" },
			{ href: "/", text: "LinkedIn" },
			{ href: "/", text: "Medium" },
		],
	},
	{
		title: "Talents",
		items: [
			{ href: "/", text: "Talent Pool" },
			{ href: "/", text: "Recruitment" },
		],
	},
];
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<Unfont />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>WRI {"- " + title}</title>
	</head>
	<body>
		<Navbar client:load />
		<slot />
		<Footer navigationLists={footerData} />
	</body>
</html>
