---
import Navbar from "~/components/navbar/navbar.svelte";
import Footer from "~/components/footer/footer.astro";
import "../styles/main.css";

import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/urbanist/400.css";
import "@fontsource/urbanist/500.css";
import "@fontsource/urbanist/600.css";
import "@fontsource/urbanist/700.css";
import SwiperInit from "~/components/swiper-init.svelte";

type Props = {
	title: string;
};
const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>WRI {"- " + title}</title>
	</head>
	<body class="bg-white">
		<SwiperInit client:load />
		<Navbar client:load path={Astro.url.pathname} />
		<slot />
		<Footer />
	</body>
</html>
