---
import "~/styles/global.css";
import Cursor from "~/components/sections/globals/cursor.astro";
import NavbarSection from "~/components/sections/globals/navbar-section.astro";
import FooterSection from "~/components/sections/footer/footer-section.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/webp" href="/favicon.webp" />
        <meta name="generator" content={Astro.generator} />
        <title>WRI Dev</title>
    </head>
    <Cursor />
    <NavbarSection />
    <body>
        <slot />
    </body>
    <FooterSection />
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        min-height: 100%;
        overflow-x: hidden;
    }
</style>
