---
import PillsText from "../../text/pills.astro";
import Container from "../container.astro";
import Grid from "./components/grid.svelte";

const { className } = Astro.props;

const faqs = [
    {
        question: "What is Lorem Ipsum?",
        answer: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
    },
    {
        question: "Why do we use it?",
        answer: "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English."
    },
    {
        question: "Where does it come from?",
        answer: "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old."
    }
]
---

<Container className={`px-4 sm:px-6 lg:px-30 ${className}`}>
    <div class="w-full">
        <PillsText>FAQs</PillsText>
        <div class="flex flex-col lg:flex-row mt-2 gap-6 lg:gap-8">
            <div class="flex-shrink-0 mr-16">
                <div
                    class="relative flex items-end text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-medium"
                >
                    Got
                    <span class="wri-italic from-wri-blue to-wri-blue/45"
                        >&nbsp;Question?</span
                    >
                </div>
                <div
                    class="relative flex items-end text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-medium"
                >
                    We've Got
                    <span class="wri-italic from-wri-yellow to-wri-yellow/45"
                        >&nbsp;Answers!</span
                    >
                </div>
                <p class="mt-4 max-w-full lg:max-w-[34rem] text-sm sm:text-base text-wri-gray-600">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur beatae esse id officia quibusdam enim amet laboriosam cupiditate ab veritatis. Velit optio ab non quas odio incidunt itaque libero in!
                </p>
            </div>
            <div class="w-full lg:flex-1 lg:ml-auto lg:min-h-[20rem]">
                <Grid client:load faqs={faqs} />
            </div>
        </div>
    </div>
</Container>
